
/*Tasks to do

1. Menu bar
2. Gallery list
3. Gallery page
4. About page.. comments.. social media integration.. deployment
5. Front end resume site
/* ==========================================================================
   Base
   ========================================================================== */

html {
  font-family: Didot;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

}
a {
    text-decoration: none;
    color: black;
}

section {
  margin: 0 0 20px 0;
  clear: both;
}

h1 {
  font-size: 32px;
  color: #0896ff;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  color: #666;
}

/* header */

.header {
  top: 100px;
  left: 10%;
  position: relative;
}


.descriptionmain{
  font-family: Didot;
  font-size:20px;
  padding-top: 12%;
  padding-bottom:5%;
}

.box{
  width:70%;
  margin:0 auto;

}

.work {
  
  float: left;
  font-size:20px;
  padding-top: 2%;
}

/*.vertical {
  border-left: 1px solid black; 
  height: 200px; 
  position:absolute; 
  left: 50%; 
  padding-top: 2%;
}*/

.contact {

  float: right;
  font-size:20px;
  position: relative;
  padding-top: 2%;
  padding-right:10%;
}

@media only screen and (max-width: 791px) {
.contact {

  float: left;
}
}

@media only screen and (min-width: 755px)  {
.contact {

  float: right;
}
}



/* footer */

.footer {
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  background: black;  
  margin: 0;
  padding: 30px 0;
  position: relative;
  bottom: 0;
  left: 0;
  top:400px;
  font-family:  Georgia;
}



.description {
  left: 10%;
  width: 80%;
  position: relative;
  font-family: Georgia;
  top: 250px;
}


